<div class="container">
    <mat-button-toggle-group (change)="changeSide($event.value)">
        <mat-button-toggle value="items">Items</mat-button-toggle>
        <mat-button-toggle vlaue="orders">Orders</mat-button-toggle>
    </mat-button-toggle-group>
    <br>
    <div *ngIf="itemToShow" style="width: 100%;">
        <app-new-item></app-new-item>
        <br>
        <app-item-list></app-item-list>
    </div>
    <div *ngIf="!itemToShow" style="width: 100%;">
        <app-order-list></app-order-list>
    </div>
</div>