<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <app-sidenav (onCloseSidenav)="onClose($event, sidenav)"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <mat-toolbar color="primary">
        <button mat-icon-button fxHide.gt-xs (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
        <div>
          DiWHY THE WEBSHOP
        </div>
        <div fxFlex fxLayout.gt-lg fxLayoutAlign="flex-end" style="min-height: 64px;">
          <app-header></app-header>
        </div>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <app-footer fxFlexOffset="auto"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>