<mat-nav-list>
    <a (click)="close()" mat-list-item routerLink="/login"><mat-icon>login</mat-icon>Login</a>
    <mat-divider></mat-divider>
    <a (click)="close()" mat-list-item routerLink="/register"><mat-icon>app_registration</mat-icon>Register</a>
    <mat-divider></mat-divider>
    <a (click)="close()" mat-list-item routerLink="/cart"><mat-icon>shopping_cart</mat-icon>Cart</a>
    <mat-divider></mat-divider>
    <a (click)="close()" mat-list-item routerLink="/home"><mat-icon>home</mat-icon>Home</a>
    <mat-divider></mat-divider>
    <a (click)="close()" mat-list-item routerLink="/admin"><mat-icon>build</mat-icon>Admin</a>
    <mat-divider></mat-divider>
    <a (click)="close()" mat-list-item><mat-icon>logout</mat-icon>Logout</a>
  </mat-nav-list>